// Fine Circle Responsive Image
// Inspired by https://stackoverflow.com/a/6615994/10194811

#container {
  display: inline-block;
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 576px){
.container2 {
    max-width: 480px;
}}

@media only screen and (max-width: 768px){
.container2 {
    max-width: 560px;
}}

@media only screen and (max-width: 1024px){
.container2 {
    max-width: 760px;
}}

@media only screen and (max-width: 1130px){
.container2 {
    max-width: 1000px;
}}

@media only screen and (max-width: 1300px){
.container2 {
    max-width: 1100px;
}
}

.container2 {
    max-width: 1180px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

#dummy {
  padding-top: 100%; /* 1:1 aspect ratio */
}

#element {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.circle-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

@media only screen and (max-width: 768px){
.author__inner {
    flex-direction: column;
}
}

.author__inner {
  display: flex;
  align-items: center;
}

.author__left {
  max-width: 520px;
  padding-right: 20px;
  margin-right: auto;
}
@media only screen and (max-width: 768px){
.author__left, .author__right {
  width: 100%;
}
}

.author__left, .author__right {
  width: 50%;
}

@media only screen and (max-width: 576px){
.author__left .author__name {
    font-size: 32px;
}
}

@media only screen and (max-width: 1024px){
.author__left .author__name {
    font-size: 36px;
    margin-bottom: 24px;
}
}

@media only screen and (max-width: 1130px){
.author__left .author__name {
    font-size: 44px;
    line-height: 1.2;
}
}

.author__left .author__name {
  font-size: 56px;
  font-weight: 900;
  color: #120f3e;
}

@media only screen and (max-width: 1024px){
.author__left .author__bio {
    font-size: 17px;
}
}

.author__left .author__bio {
  margin-bottom: 0;
  font-size: 19px;
  line-height: 1.6;
  color: #120f3e;
}

.author__left .author__btn {
  margin-top: 44px;
  display: inline-flex;
  justify-content: revert;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 800;
  padding: 4px 12px;
  border-radius: 30px;
  border: 1px solid #4235d0;
  color: #4235d0;
  outline: none;
  cursor: pointer;
  transition: all 0.35s;
}

.author__left .author__btn .circle-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 50%;
  will-change: transform;
  background: #4235d0;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media only screen and (max-width: 768px){
.author__right {
    order: -1;
}
}

.author__right {
    position: relative;
}

@media only screen and (max-width: 768px){
.author__left, .author__right {
    width: 100%;
}
}

.author__left, .author__right {
    width: 50%;
}

@media only screen and (max-width: 576px){
.author__right .author__image {
    height: 280px;
    margin-bottom: 32px;
}
}

@media only screen and (max-width: 768px){
.author__right .author__image {
    width: 100%;
    height: 380px;
    margin-bottom: 40px;
}}


@media only screen and (max-width: 1024px){
.author__right .author__image {
    width: 340px;
    height: 340px;
}
}

@media only screen and (max-width: 1130px){
.author__right .author__image {
    width: 400px;
    height: 400px;
}
}

.author__right .author__image {
    position: relative;
    z-index: 10;
    width: 480px;
    height: 480px;
    margin-left: auto;
}

.author__left .author__btn .button-arrow {
  color: #fff;
}

@media only screen and (max-width: 576px){
.author {
    padding: 30px 0 60px;
}}

@media only screen and (max-width: 768px){
.author {
    padding: 40px 0 80px;
}}

@media only screen and (max-width: 1024px){
.author {
    padding: 80px 0;
}}

.author {
    padding: 96px 0;
}

.row2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.col2 {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.author__right .author__image::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 90px;
  background: #ededf3;
}

.author__right .author__image::after {
  content: "";
  position: absolute;
  top: -2%;
  left: -8.7%;
  transform: rotate(
-45deg
);
  display: block;
  width: 130px;
  height: 100px;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(66,53,208,0.7), rgba(66,53,208,0.7) 2px, transparent 2px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(66,53,208,0.7), rgba(66,53,208,0.7) 2px, transparent 2px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(66,53,208,0.7), rgba(66,53,208,0.7) 2px, transparent 2px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(66,53,208,0.7), rgba(66,53,208,0.7) 2px, transparent 2px, transparent 100%);
  -webkit-background-size: 15px 15px;
  -moz-background-size: 15px 15px;
  background-size: 15px 15px;
  user-select: none;
}

.lazy.loaded {
  opacity: 1;
}

.lazy {
  opacity: 0;
  transition: 0.8s ease-in-out;
}

img, .lightense-wrap {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

img {
  border-style: none;
}